* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1F2937;
    color: white;
    padding-top: 20px;  
    gap: 430px;
    
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    width: 180px;
}

nav a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color:#1F2937;
    padding: 115px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}


.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .right {
    width: 500px;
    background-color: rgb(128, 130, 141);
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
}

.hero .left {
    width: 500px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 100px;
}

.information h2 {
    font-size: 36px;
    font-weight: 800;
}

.images {
    display: flex;
    margin: 20px;
    gap: 70px;
}

.image {
    height: 155px;
    width: 155px;
    border: 4px solid rgb(51, 132, 255);
    border-radius: 12px;
}

.images .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 170px;
    text-align: center;
    align-items: center;
    
}

.images .container p  {
    font-size: 18px;
    color: #1f2937;
    
}

.hero button, .action button {
    width: 120px;
    height: 35px;
    border-radius: 7px;
    background-color: #3882F6;
    color: white;
    border: 2px solid #3882F6;;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    
}

.hero button {
    margin-top: 15px;
}

.action button {
    border: 2px solid white;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 85px;
    text-align: center;
    width: 100%;
    
}

.quote blockquote {
    font-style: italic;
    font-size: 36px;
    width: 815px;   
    margin: 10px;
    text-align: left;
    color: #1F2937;
}

.quote p {
    display: flex;
    text-align: right;
    margin-left: 550px;
    font-weight: bold;
    font-size: 25px;

}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border: 1px solid #3882F6 ;
    border-radius: 7px;
    margin: 100px;
    width: 70rem;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 23px;
    color: #f3f7ff;
}

.text p {
    color: #E5E7EB ;
    font-size: 18px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1F2937;
    padding: 40px;
    color: #e5e7eb;
}

footer p {
    font-size: 18px;
}




