html, body {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    flex: 1;
}

.main {
    display: flex;
    flex-direction:column;
    background-color:#1F2937;
    color: white;
    padding: 20px;
    
    
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    width: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.links {
    max-width: 410px;
}

.links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

h1 {
    padding: 0;
    margin: 0;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-one {
    display: flex;
    justify-content: center;
    gap: 410px;
    
}

.hero {
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sub-hero {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.placeholder {
    width: 500px;
    background-color: rgb(128, 130, 141);
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
}

.header-two {
    margin-top: 80px;
    margin-bottom: 85px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding-bottom: 80px;
}

.information h2 {
    font-size: 36px;
    font-weight: 800;
}

.images {
    display: flex;
    margin: 20px;
    gap: 70px;
}

.image {
    height: 150px;
    width: 150px;
    border: 4px solid rgb(51, 132, 255);
    border-radius: 12px;
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 170px;
    text-align: center;
    align-items: center;
    
}

.sub-text  {
    font-size: 18px;
    color: rgb(0, 0, 0);
    
}

.sign-up, .sign-up-2 {
    width: 120px;
    height: 35px;
    border-radius: 7px;
    background-color: #3882F6;
    color: white;
    border: 2px solid #3882F6;;
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    
}

.sign-up-2 {
    border: 2px solid white;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 85px;
    text-align: center;
}

.the-quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    width: 815px;   
    margin: 10px;
    text-align: left;
}

.credit {
    display: flex;
    text-align: right;
    margin-left: 550px;
    font-weight: bold;
    font-size: 22px;

}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #3882F6;
    border: 1px solid #3882F6 ;
    border-radius: 7px;
    margin: 90px;
    width: 1050px;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 600;
    font-size: 22px;
    color: #f3f7ff;
}

.sub-action {
    color: #E5E7EB ;
    font-size: 18px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1F2937;
    color: white;
    font-size: 18px;
    padding: 40px;
}


